
import requests

class TestHttp:
     def setup(self):
     pass

     def test_request(self):
          r=requests.request(
          {{method}},
          url={{url}},
          params={
            {{#params}}
                {{.}}
            {{/params}}
            },
          cookies={
            {{#cookies}}
                {{.}}
            {{/cookies}}
            }
          )
          assert r.status_code == 200